include ./_config

doctype doctype html
html(lang="ja")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{SITE_TITLE}

  body
    include ./templates/_header

    main#main.main 
      //- ヒーローヘッダー
      #hero-header.hero-header
        .hero-header__heading 
          span.hero-header__catchcopy カラダにやさしい、森のピザ屋さん。
          h1.logo.hero-header__logo
            a.link.logo__link.-no-style(href="") #{SITE_TITLE} 

      //- 特徴１
      section#feature-1.feature.-one
        .feature__text-container 
          h2.feature__heading 「こだわり」の
            span.word 本格ピッツァ
            
          p ピッツァの本場「ナポリ」で修業したシェフが作る、材料から焼き方まで
            span.word こだわった
            |「超本格派」のピッツァを堪能できます。

        .feature__img-container
          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-1-1-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-1-1-pc.jpg 1x`
            )
            img.feature__img-1(
              src=`${IMG_PATH}jpg/feature-1-1.jpg`,
              alt="シェフ自慢のピザ窯の中で、高温でこんがり焼かれているミックスピッツァの様子。",
              srcset=`${IMG_PATH}jpg/feature-1-1@2x.jpg 2x`
            )

          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-1-2-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-1-2-pc.jpg 1x`
            )
            img.feature__img-2(
              src=`${IMG_PATH}jpg/feature-1-2.jpg`,
              alt="お店自家製の野菜の味や匂いを細かく確認し、ピッツァに使う材料を厳選しているオーナーの姿。",
              srcset=`${IMG_PATH}jpg/feature-1-2@2x.jpg 2x`
            )

      //- 特徴２
      section#feature-2.feature.-two
        .feature__text-container 
          h2.feature__heading 「有機栽培」で育てた自家製野菜を
            span.word 使用
            
          p オーナー自ら有機栽培で育てたとれたて
            span.word 新鮮
            | の
            snap.word 野菜
            | を
            span.word ふんだん
            | に使用したピッツァは、しつこさが少なく、チーズと絶妙にマッチします。

        .feature__img-container
          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-2-1-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-2-1-pc.jpg 1x`
            )
            img.feature__img-1(
              src=`${IMG_PATH}jpg/feature-2-1.jpg`,
              alt="有機栽培で育てた、バスケットいっぱいの真っ赤なトマトです。",
              srcset=`${IMG_PATH}jpg/feature-2-1@2x.jpg 2x`
            )

          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-2-2-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-2-2-pc.jpg 1x`
            )
            img.feature__img-2(
              src=`${IMG_PATH}jpg/feature-2-2.jpg`,
              alt="厳選した小麦から作って寝かせている、ピザ生地の写真。",
              srcset=`${IMG_PATH}jpg/feature-2-2@2x.jpg 2x`
            )

          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-2-3-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-2-3-pc.jpg 1x`
            )
            img.feature__img-3(
              src=`${IMG_PATH}jpg/feature-2-3.jpg`,
              alt="ピザをとる際の、採れたての自家製野菜ととろーり伸びたチーズがとても美味しそうな写真。",
              srcset=`${IMG_PATH}jpg/feature-2-3@2x.jpg 2x`
            )

    include ./templates/_footer