include ./_config
include ./_mixin

doctype doctype html
html(lang="ja")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{SITE_TITLE}

  body
    include ./templates/_head

    //- ヒーローヘッダー
    #hero-header.hero-header
      .hero-header__background-img

      .hero-header__heading 
        span.hero-header__catchcopy カラダにやさしい、森のピザ屋さん。
        h1.logo.hero-header__logo
          a.link.logo__link.-no-style(href="") #{SITE_TITLE} 

    main#main.main 
      //- 特徴１
      section#feature-1.feature.-one
        .feature__text-container 
          h2.feature__heading 「こだわり」の
            span.word 本格ピッツァ
            
          p ピッツァの本場「ナポリ」で修業したシェフが作る、材料から焼き方まで
            span.word こだわった
            |「超本格派」のピッツァを堪能できます。

        .feature__img-container
          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-1-1-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-1-1-pc.jpg 1x`
            )
            img.feature__img-1(
              src=`${IMG_PATH}jpg/feature-1-1.jpg`,
              alt="シェフ自慢のピザ窯の中で、高温でこんがり焼かれているミックスピッツァの様子。",
              srcset=`${IMG_PATH}jpg/feature-1-1@2x.jpg 2x`
            )

          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-1-2-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-1-2-pc.jpg 1x`
            )
            img.feature__img-2(
              src=`${IMG_PATH}jpg/feature-1-2.jpg`,
              alt="お店自家製の野菜の味や匂いを細かく確認し、ピッツァに使う材料を厳選しているオーナーの姿。",
              srcset=`${IMG_PATH}jpg/feature-1-2@2x.jpg 2x`
            )

      //- 特徴２
      section#feature-2.feature.-two
        .feature__text-container 
          h2.feature__heading 「有機栽培」で育てた自家製野菜を
            span.word 使用
            
          p オーナー自ら有機栽培で育てたとれたて
            span.word 新鮮
            | の
            snap.word 野菜
            | を
            span.word ふんだん
            | に使用したピッツァは、しつこさが少なく、チーズと絶妙にマッチします。

        .feature__img-container
          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-2-1-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-2-1-pc.jpg 1x`
            )
            img.feature__img-1(
              src=`${IMG_PATH}jpg/feature-2-1.jpg`,
              alt="有機栽培で育てた、バスケットいっぱいの真っ赤なトマトです。",
              srcset=`${IMG_PATH}jpg/feature-2-1@2x.jpg 2x`
            )

          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-2-2-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-2-2-pc.jpg 1x`
            )
            img.feature__img-2(
              src=`${IMG_PATH}jpg/feature-2-2.jpg`,
              alt="厳選した小麦から作って寝かせている、ピザ生地の写真。",
              srcset=`${IMG_PATH}jpg/feature-2-2@2x.jpg 2x`
            )

          picture 
            source(
              media=`(min-width: ${PC_BREAKPOINT})`,
              srcset=`
                ${IMG_PATH}jpg/feature-2-3-pc@2x.jpg 2x,
                ${IMG_PATH}jpg/feature-2-3-pc.jpg 1x`
            )
            img.feature__img-3(
              src=`${IMG_PATH}jpg/feature-2-3.jpg`,
              alt="ピザをとる際の、採れたての自家製野菜ととろーり伸びたチーズがとても美味しそうな写真。",
              srcset=`${IMG_PATH}jpg/feature-2-3@2x.jpg 2x`
            )

      //- メニュー
      article#menu.menu 
        h2.heading.menu__heading(data-ruby="メニュー") Menu

        +menu-list([
          {
            name: "ガーリックトマトソースのピッツァ",
            desc: "自家製の完熟トマトとニンニクが美味しいピッツァです。旨みの強いソースとモチモチの生地が相性抜群。"
          },
          {
            name: "４種のチーズとオリーブのピッツァ",
            desc: "こだわりブレンドの４種のチーズとオリーブが絶妙です。生地はクリスピーでワインともよく合う大人なピッツァ。"
          },
          {
            name: "パプリカと燻製ベーコンのピッツァ",
            desc: "自家製の黄パプリカは火を通すと甘みが増し、燻製ベーコンの塩味とよく合います。店長イチオシのピッツァです。"
          },
          {
            name: "豚肉たっぷりトルコピッツァ",
            desc: "四角形でサクサクの生地が特徴のピッツァです。スパイシーなお肉と生地が相性バツグンで、食べ応え満点。"
          }
        ])

      //- アクセスセクション
      section#access.access
        h2.heading.access__heading(data-ruby="アクセス") Access

        .access__grid
          .access__map 
            img.access__map-img(
              src=`${IMG_PATH}png/map.png`,
              alt="「Botan」の店舗場所を示す地図画像。",
              srcset=`${IMG_PATH}png/map@2x.png 2x`
            )

          .access__text-container
            p 〇〇〇線〇〇駅より、徒歩〇分。
            p 観光地〇〇〇から東に〇〇ｍ。

      //- 店舗概要セクション
      section#about.about 
        h2.heading.about__heading(data-ruby="店舗概要") About

        +about-table([
          {
            attr: "住所",
            value: "〇〇〇〇〇〇〇〇〇ー〇〇",
          },
          {
            attr: "TEL",
            value: "〇〇〇-〇〇〇-〇〇〇〇",
          },
          {
            attr: "E-Mail",
            value: "〇〇〇〇.〇〇〇@〇〇〇.〇〇.〇〇",
          },
          {
            attr: "営業時間",
            value: "〇〇:〇〇~〇〇:〇〇",
          },
          {
            attr: "定休日",
            value: "毎週〇曜日",
          }
        ])

    include ./templates/_foot